<a href="https://colab.research.google.com/github/whose-stone/twerk_bot/blob/master/1stCodeInterview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program that sums all the numbers divisible by 3 or 5 below 1000. For example: All the numbers divisible by 3 or 5 below 10 are: 3,5,6,9 and their sum is 23.

In [17]:
collect_num = [ ]

start_num = 1

end_point = 1001

while start_num < end_point:
  if start_num % 3 == False or start_num % 5 == False:
    collect_num.append(start_num)
    start_num = start_num + 1
  else:
    start_num = start_num + 1
print(sum(collect_num))

234168

Write a program that prints the numbers from 1 to 100 and for multiples of '3' print "Tic" instead of the number and for the multiples of '5' print "Toc", if the number is multiple of 3 and 5 then print “TicToc”.

In [28]:
start_point = 1
end_point = 30

while start_point < end_point:
  if start_point % 3 == False and start_point % 5 == False:
    print("Tic Toc")
    start_point = start_point + 1
  elif start_point % 3 == False:
    print ("Tic")
    start_point = start_point + 1
  elif start_point % 5 == False:
    print("Toc")
    start_point = start_point + 1
  else:
    print (start_point)
    start_point = start_point + 1

1
2
Tic
4
Toc
Tic
7
8
Tic
Toc
11
Tic
13
14
Tic Toc
16
17
Tic
19
Toc
Tic
22
23
Tic
Toc
26
Tic
28
29

Make a program that filters a list of strings and returns a list with only your friends name in it. If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he’s not…

In [41]:
def friend_finder(friend):
  my_friends = []
  for i in friend:
    if len(i) == 4:
      my_friends.append(i)
    else:
      pass
  return my_friends

friend_finder(["Ryan","Kieran","Mark","Miguel"])

['Ryan', 'Mark']

Write a function called sumDigits that returns the sum of all the digits in a given number.
For example:
5646 => 5+6+4+6 => 21

In [51]:
def sumDigits(n):
  add_list = [ ]
  for i in str(n):
    add_list.append(int(i))
    add_total = sum(add_list)
  return add_total

sumDigits(333)

9